html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

html {
    background-image: 
        linear-gradient(rgba(3, 3, 51, 0.75),
        rgba(5, 4, 29, 1)), 
        url("/images.jpg") !important;
    background-size: cover;
}

body {
    background: transparent !important;
}

pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
